/* HEADER */
.header {
    height: 70px;
    z-index: 10;
}

.header .logo a span:nth-child(3) {
    font-size: 8px !important;
}

.header .buttons button {
    border-radius: 50px;
}

/* CAROUSEL */
.carousel {
    height: 800px;
}

