/* HEADER */
.header {
  height: 70px;
  z-index: 10;
  opacity: 0.9;
}

.header .navBar ul li {
  transition: color 0.3s ease;
}

.header .navBar ul li:hover {
  color: #0d6efd !important; /* Bootstrap primary color */
  cursor: pointer;
}

.header .navBar ul li a:hover {
  color: #0d6efd !important; /* Bootstrap primary color */
  cursor: pointer;
}

.header .logo-pro-tag {
  font-size: 8px !important;
}

.header .buttons button {
  border-radius: 50px;
}

.header button span {
  display: inline-block;
  transition: all 0.2s;
}

.header button:hover span {
  transition: all 0.2s;
  transform: translateX(5px);
}

/* CAROUSEL */
.carousel {
  height: 800px;
}

/* Brands */
.brands {
  height: 200px;
}

/* WORKFLOWS */
.workflows {
  height: 500px;
}

/* INSIGHTS */
.insights {
  height: 500px;
}

/* INTEGRATIONS */
.integrations a .card {
  transition: all 0.5s;
}

.integrations a:hover .card {
  transition: all 0.5s;
  box-shadow: 10px 5px 11px -4px rgba(0, 0, 0, 0.41);
}

.integrations a img {
  transition: all 0.5s;
}

.integrations a:hover img {
  transition: all 0.5s;
  box-shadow: 10px 5px 11px -4px rgba(0, 0, 0, 0.41);
}

/* ERROR */
.error-demo {
  height: 400px;
}

/* DETAILS */
.details .code .code-1::before {
  content: "`";
}

.details .code .code-1::after {
  content: "`";
}

.details .code .code-2::before {
  content: "`<strong>";
}

.details .code .code-2::after {
  content: "</strong>`";
}

.details .inline .inline-1::before {
  content: "`";
}

.details .inline .inline-1::after {
  content: "`";
}

/* FOOTER */
.footer {
  min-height: 400px;
}

/* Phat */
.template a,
.template .btn,
.features-p .btn {
  font-size: 12px;
  color: purple;
  background-color: rgba(147, 51, 234, 0.2);
  cursor: context-menu;
}

.features-p .f-icon {
  width: 45px;
  height: 45px;
  background-color: rgba(51, 191, 234, 0.2);
}

.features-p .f-icon i {
  color: rgba(51, 191, 234, 0.9);
}

.testimonials .card-item {
  flex-shrink: 0;
}

.testimonials .card-content {
  /* position: absolute; */
  animation: moveLeft 50s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-100% - 2.5rem));
  }
}

.testimonials .card-item {
  transition-duration: 0.15s;
}

.testimonials .card-item:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.template .card-item .card:hover {
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
}

.features-p .card:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/* PRICING */
.pricing .btn-outline-primary:hover, .compare-plan .btn-outline-primary:hover{
  background-color: rgba(12, 110, 253, 0.2) !important;
  color: #0d6efd;
}

/* FAQ */
.faq .accordion-button{
  box-shadow: none;
}

/* CORE TEAM */
.core-team img{
  transition: all 0.5s;
}

.core-team img:hover{
  transform: translateY(-10px);
  transition: all 0.5s;
}

.our-blog button:hover{
  background-color: rgb(199, 198, 198) !important;
}

@media (max-width: 500px) {
    .pricing .pricing-container{
      display: block !important;
      width: 97% !important;
    }

    .pricing .pricing-container .mx-4{
      margin-left: 5px !important;
      margin-right: 5px !important;
      padding: 5px !important;
    }

    .compare-plan h1, .compare-plan p{
      text-align: center;
    }

    .compare-plan .table-responsive{
      overflow-x: hidden !important;
      width: 100% !important;
    }

    .compare-plan .table-responsive .btn{
      font-size: 10px;
      padding: 5px;
    }
    
    .compare-plan .table-responsive td{
      font-size: 12px;
      padding: 3px !important;
    }

    .compare-plan .table-responsive .fs-6{
      font-size: 12px !important;
    }

    .compare-plan .table-responsive .fs-4{
      font-size: 15px !important;
    }

    .mission .mission-container .row{
      display: block !important;
    }

    .mission .mission-container .row .col{
      width: 100% !important;
    }
    
    .core-team .core-team-container{
      display: block !important;
    }

    .core-team .core-team-container .card{
      width: 100% !important;
      padding: 0 5px !important;
    }

    .core-team .core-team-container .card img{
      width: 100% !important;
    }

    .contact .container .row{
      display: block !important;
    }
}
