.template a, .features .btn{
    font-size: 12px;
    color: purple;
    background-color: rgba(147, 51, 234, 0.2);
}

.features .f-icon{
    width: 45px;
    height: 45px;
    background-color: rgba(51, 191, 234, 0.2);
}

.features .f-icon i{
    color: rgba(51, 191, 234, 0.9);
    
}

.footer .footer-icon .bg-icon{
    background-color: rgba(105, 102, 102,0.5);
    width: 30px;
    height: 30px;
}

.footer .footer-icon .bg-icon i{
    opacity: 1;
}